* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-section {
  background-color: #f3f3f3;
  width: 100px;
  height: 100px;
}

.nav-section .name-logo {
  font-size: 24px;
}

/* li,
a {
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px, 10%;
}

.name-logo {
  cursor: pointer;
  transition: all 0.5s ease 0s;
  font-size: 25px;
}

.name-logo:hover {
  color: forestgreen
}

.nav-bar {
  list-style: none;
}

.nav-bar li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-bar li a {
  transition: all 0.5s ease 0s;
}

.nav-bar li a:hover {
  color: forestgreen;
}

.hero-section {
  width: 100%;
  height: calc(100vh - 700px);
  background-image: url(./images/heroCropped.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
}

.vert-center {
  display: table-cell;
  vertical-align: middle;

}

.hero-section h2 {
  font-size: 60px;
  font-weight: 800px;
  text-align: center;
  text-shadow: 1px 1px 6px grey;
  color:white;
  padding-bottom: 100px;
}

.hero-section h3 {
  font-size: 24px;
  font-weight: 800px;
  text-align: center;
  text-shadow: 1px 1px 6px grey;
  line-height: 40px;
  color:white;
}

.about-me {
  margin: 16px 16px 0;
  width: 100%;
  min-height: 100vh;
  background-color: #f2f2f2;
}

.about-me img {
  width: 35%;
  float: left;
}

.about-me-bio {} */

/* .index-links section {
  margin: 16px 16px 0;
  width: calc(100% - 32px);
  height: 100px;
  background-color: #f2f2f2;
}

.index-links section h3 {
  font-size: 24px;
  font-weight: 800px;
  text-transform: uppercase;
  line-height: 100px;
  color:black;
} */