* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #f2f2f2;
}

header {
  background-color: #fff;
  width: 100%;
  height: 100px;
}

header .name-logo {
  font-size: 24px;
  font-weight: 900;
  color: #111;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}

header nav ul {
  display: block;
  margin: 0 auto;
  width: fit-content
}

header nav ul li {
  display: inline-block;
  float: none;
  list-style: none;
  padding: 0 16px;
}

header nav ul li a {  
  font-size: 16px;
  color: #111;
  text-transform: uppercase;
}

.hero-banner {
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url(./images/photo-shoot-red.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
}

.vert-center {
  display: table-cell;
  vertical-align: middle;
}

.hero-banner h2 {
  font-size: 60px;
  color: #fff;
  font-weight: 900;
  line-height: 70px;
  text-align: center;
  text-shadow: 1px 1px 1px #111;
  padding-bottom: 20px;
}

.hero-banner h3 {
  font-size: 28px;
  color: #fff;
  font-weight: 100;
  line-height: 50px;
  text-align: center;
  text-shadow: 1px 1px 1px #111;
}